@charset "utf-8";@import url('https://fonts.googleapis.com/css?family=Lato:700,900|Source+Sans+Pro:400,700');html,
body{height:100%;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{display:block;}
ol, ul{margin:0;padding:0;list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{font-family:'Source Sans Pro', sans-serif;color:#506a85;font-size:14px;background-color:#fff;}
h1, h2{font-family:'Lato', sans-serif;font-weight:900;}
a, p{color:#506a85;font-size:14px;line-height:1.3;}
blockquote, q{}
ol, ul{}
h1{font-size:30px;font-weight:900;}
h2{font-size: 44px;font-weight:900;}
h3{font-size:26px;}
h4{font-size:24px;}
h5{font-size:22px;}
h6{font-size:18px;}
button , a[role="button"]{border-radius: .25rem;background-color:#00bc9c;color:#fff;border-bottom:2px solid #00a085;}
button:hover,
a[role="button"]:hover{background-color:#17a78b;}
a:hover{text-decoration: none;}
.text-main{color:#506a85;}
.top-bar{background-color:#f5f7fa;border-bottom:1px solid #e6e9ed;}
.top-bar .container{display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;}
.top-bar nav{-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.top-bar .nav-link{padding:0;}
.top-bar .fa-envelope-o, .top-bar .fa-mobile{margin-right: 5px;}
.top-bar .fa-mobile{margin-left: 15px;}
.contact-nav .fa{padding:15px 0 15px 0px;}
.social-nav .fa:focus,
.social-nav .fa:hover{color:#fff;}
.social-nav .fa{padding:15px 10px;}
.social-nav .fa-facebook:hover,
.social-nav .fa-facebook:focus{background-color:#4668b3;}
.social-nav .fa-google-plus:hover,
.social-nav .fa-google-plus:focus{background-color:#de5745;}
.social-nav .fa-twitter:hover,
.social-nav .fa-twitter:focus{background-color:#2fbbed;}
.social-nav .fa-pinterest-p:hover,
.social-nav .fa-pinterest-p:focus{background-color:#d94348;}
.social-nav .fa-behance:hover,
.social-nav .fa-behance:focus{background-color:#3079ff;}
.social-nav .fa-dribbble:hover,
.social-nav .fa-dribbble:focus{background-color:#eb6397;}
.collapse.show{border-top: 1px solid;}
.navbar-expand-lg{padding-left: 0; padding-right: 0;width: 100%;}
.nav-link:focus, .nav-link:hover{color:#00bc9c;}
.main-nav{padding: 24px 0;}
.main-nav .nav-link{padding:10px 19px;font-family:'Lato', sans-serif;}
.form-inline .form-control{width:100%;}
button.nav-link{background-color:transparent;color:#506a85;border:0;}
.btn-nav-search{position:absolute;right:10px;background-color:transparent;color:#506a85;padding-right:22px;}
.form-control:focus{box-shadow:none;}
.dropdown-content{display:none;}
.carousel-caption{height:99%;width:100%;left:0;right:0;top:0;display:-webkit-box;display:-ms-flexbox;display:flex;}
.carousel-control-next,
.carousel-control-prev{opacity:0.3;width:10%;}
.carousel-indicators li{margin-top:auto;margin-bottom:auto;border-radius:50%;height:15px;width:15px;background-color:#506a85;}
.carousel-indicators .active{background-color:#00bc9c;}
.img-holder{min-height:600px;background-size:cover;background-position:center;background-repeat:no-repeat;}
.carousel-inner a{padding:15px 60px 15px 60px;}
#banner-carousel p{margin-top:20px;color:#a3b1bf;margin-bottom: 60px;}
.slide-3 h1,
.slide-4 h1{background-color:#506a85;color:#fff;padding:0 30px;}
.slide-2 p,
.slide-4 p{color:#fff;}
.slide-3 p{color:#506a85;}
.slide-5 .carousel-caption{padding-top:120px;}
.who-we-r{padding:135px 0 135px 0;}
.section-header{text-align:center;margin-bottom:30px;}
.section-header h5{color:#73879c;margin-top:35px;}
.who-we-r .media{margin-top: 48px;}
.media .fa{color:#00bc9c;text-align:center;font-size:40px;min-width:36px;margin-right:15px;}
.media-body h5{font-family:'Lato', sans-serif;}
.media-body p{margin-top:30px;color:#73879c;}
.works{background-color:#f2f5f7;padding:130px 0;}
.work-card{margin-top:50px;border:1px solid #e6e9ed;border-radius:.25rem;}
.work-card .card{border:0;}
.card img {width: 100%;border-top-left-radius: calc(.25rem - 1px);border-top-right-radius: calc(.25rem - 1px);}
.card-img-overlay{background-color:rgba(0, 188, 156, .9);color:#fff;opacity:0;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;display: -webkit-box;display: -ms-flexbox;display: flex;}
.card-img-overlay .fa{color:#fff;}
.card-img-overlay:hover{opacity:1;transition:.3s ease;text-align:center;}
.card a:hover{color: #00bc9c;}
.work-content{padding:35px;text-align:center;background-color:#fff;}
.work-content h5{margin-bottom:10px;}
.work-content h5:hover{color:#00bc9c;}
.work-content p{color:#73879c;}
#card-carousel{margin-top:80px;}
#card-carousel .carousel-indicators{bottom:-45px;}
#card-carousel p{color:#fff;}
#card-carousel .card-deck{flex-direction:inherit;}
#card-carousel .card{margin-right:5px;margin-bottom:30px;}
.contact{padding:100px 0 100px;}
.contact h5{margin-bottom: 40px;}
.contact a{padding:10px 30px;}
.summary{background-color:#2f4052;padding:75px 0;}
.summary h6{margin-top:30px;color:#fff;font-weight:900;padding-bottom:25px;}
.summary p{color:#a3b1bf; margin-bottom: 25px;}
.summary .w-100{margin-top:25px;}
.who-col img{margin-bottom: 25px;}
.works-col .card{width: 46%;margin:0 5px 5px 0;border:none;}
.contact-col .fa{margin-right:10px;width:15px;text-align:center;}
.info p{margin-bottom: 0;}
.sub-col input{background-color:#4e5c6c;border:1px solid #4e5c6c;padding-top:10px;padding-bottom:10px;color:#a3b1bf;}
.sub-col input:focus{background-color:#4e5c6c;color:#fff;}
.sub-col a{width:100%;font-size:13px;margin-top:6px;}
footer{background-color:#283645;}
footer .navbar-text,
footer .nav-link{color:#707e8c;font-size:14px;}
footer .navbar-text:hover,
footer .nav-link:hover{color:#00bc9c;}
footer .navbar-text{text-align:center;width:100%;}
footer .nav{display:none;}