@charset "utf-8";
*,::after,::before{
  box-sizing:border-box
}
@-ms-viewport{
  width:device-width
}
html,body{ 
	height: 100%;
}
body{
	margin: 0;
	font-family: "",sans-serif;
	color: #000;
	background-color: #fff;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
	color: #000;
	font-family: "", sans-serif;
}
a{
	color: #000;
}
a:hover{
	color: #e7ba2f;
}
img{
  vertical-align:middle;
  border-style:none
}
.img-fluid{
  max-width:100%;
  height:auto
}
.container{
  width:100%;
  max-width: 1080px;
  margin-right:auto;
  margin-left:auto;
 }
.col{
  -webkit-box-flex:0;
  -ms-flex:0 0 16.666667%;
  flex:0 0 16.666667%;
  max-width:16.666667%
}
.col-article{
	-webkit-box-flex:0;
  -ms-flex:0 0 66.666667%;
  flex:0 0 66.666667%;
  max-width:66.666667%
}
.col-side{
  -webkit-box-flex:0;
  -ms-flex:0 0 33.333333%;
  flex:0 0 33.333333%;
  max-width:33.333333% 
}
nav{
	background-color: #fff;
	border-top: 3px solid #e7ba2f;
}
nav a{
	text-decoration: none;
	font-size: 60px;
	margin: 0 auto;
}


/*SLIDER*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slider {
  max-width: 100%;
  position: relative;
}
.slider .text{
	position: absolute;
	color: #fff;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
